button {
  cursor: pointer;
}

embed {
  width: 100%;
}

.grid-container {
  max-width: 85rem;
}

.top-line {
  display: block;
  margin-top: 120px;
  height: 17px;
  background-color: #E3E3E3;
}

.bottom-line {
  display: block;
  margin-top: 55px;
  height: 45px;
  background-color: #000000;
}

.owl-dots {
  position: absolute;
  display: flex;
  justify-content: space-between;
  bottom: 50px;
  left: 9%;
  width: 340px;
}
.owl-dot {
  background-color: #FFFFFF !important;
  width: 40px;
  height: 2px;
  opacity: 0.2 !important;
  z-index: 1 !important;
}

.owl-dot.active {
  background-color: #FFFFFF !important;
  opacity: 1 !important;
}

.onelevel {
  list-style: none;
}
.onelevel-breadcrumb-list {
  color: #8D8D8D;
  margin: 25px 0 50px;
  padding-left: 0 !important;
  max-width: 800px;
  overflow: hidden;
}
.onelevel-breadcrumb-nav {
  margin-right: 0;
  list-style-type: none !important;
}
.onelevel-breadcrumb-nav:after {
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  top: 2px;
  content: url(../image/card-breadcrumb.svg);
}
.onelevel-breadcrumb-nav-last {
  color: #000000;
}
.onelevel-breadcrumb-nav-last::after {
  visibility: hidden;
}

.media-title-line {
  display: none;
}

.modal-overlay {
  display: none;
}
.modal-overlay-visible {
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 15;
  background: rgba(141, 141, 141, 0.7);
}
.modal-overlay-form-modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.modal-open {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 15;
}
.modal-open__visible {
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 15;
  background: rgba(141, 141, 141, 0.7);
}
.modal-open__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 30px;
  background-color: #FFFFFF;
  width: 350px;
  height: 250px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.modal-open__post {
  font-family: Russo One, sans-serif;
}

@media screen and (max-width: 998px) {
  .onelevel-breadcrumb-list {
    margin-bottom: 20px;
    width: 100%;
  }

  .media-title-line {
    display: block;
    width: 100%;
    height: 1px;
    background-color: #E3E3E3;
    margin-bottom: 15px;
  }
}
@media (max-height: 650px) and (min-width: 540px) {
  .modal-overlay-title {
    margin-bottom: 15px !important;
  }
  .modal-overlay-form-modal {
    max-width: 900px !important;
    width: 900px;
    padding: 20px !important;
  }
  .modal-overlay-form-modal-contacts {
    margin-bottom: 5px !important;
  }
  .modal-overlay-modal-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .modal-overlay-modal-button {
    width: 230px !important;
    height: 50px;
    margin-top: 45px;
    margin-right: 15px;
  }
  .modal-overlay-modal-message {
    width: 570px !important;
  }
}
.buttons-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  background-color: #72c9dd;
}
.buttons__block {
  display: flex;
  flex-direction: column;
  padding: 26px 14px;
  width: 100%;
  border: 1px solid grey;
}

.bort-button {
  font-family: Roboto, sans-serif;
  text-decoration: none !important;
}

.bort__button {
  margin-top: 40px;
}
.bort-button-black35, .bort-button-white35, .bort-button-orange35, .bort-button-disabled35 {
  width: 210px;
  padding: 8px;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 15px;
}
.bort-button-black35, .bort-button-black45, .bort-button-black50 {
  color: #000000 !important;
  background-color: inherit;
  border: 3px solid;
}
.bort-button-black35:hover, .bort-button-black45:hover, .bort-button-black50:hover {
  color: #FFFFFF !important;
  background-color: #000000;
  border: 3px solid #000000;
}
.bort-button-black35:active, .bort-button-black45:active, .bort-button-black50:active {
  color: #FFFFFF !important;
  background-color: #8D8D8D;
  border: 3px solid #8D8D8D;
}
.bort-button-white35, .bort-button-white45, .bort-button-white50 {
  color: #FFFFFF !important;
  background-color: inherit;
  border: 3px solid #FFFFFF;
}
.bort-button-white35:hover, .bort-button-white45:hover, .bort-button-white50:hover {
  color: #000000 !important;
  background-color: #FFFFFF;
  border: 3px solid #FFFFFF;
}
.bort-button-white35:active, .bort-button-white45:active, .bort-button-white50:active {
  color: #FFFFFF !important;
  background-color: #8D8D8D;
  border: 3px solid #8D8D8D;
}
.bort-button-orange35, .bort-button-orange45, .bort-button-orange50 {
  color: #FFFFFF !important;
  background-color: #D9760F;
  border: 3px solid #D9760F;
}
.bort-button-orange35:hover, .bort-button-orange45:hover, .bort-button-orange50:hover {
  background-color: #E78826;
  border: 3px solid #E78826;
}
.bort-button-orange35:active, .bort-button-orange45:active, .bort-button-orange50:active {
  background-color: #CC6D0A;
  border: 3px solid #CC6D0A;
}
.bort-button-disabled35, .bort-button-disabled45, .bort-button-disabled50 {
  color: #FFFFFF !important;
  background-color: #B9B9B9;
  border: 3px solid #B9B9B9;
}
.bort-button-black45, .bort-button-white45, .bort-button-orange45, .bort-button-disabled45 {
  width: 210px;
  padding: 13px;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 15px;
}
.bort-button-black50, .bort-button-white50, .bort-button-orange50, .bort-button-disabled50 {
  width: 210px;
  padding: 15px;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 15px;
}

.form-wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  border: 1px solid lightgrey;
  padding: 20px;
}

.bort-modal {
  max-width: 370px;
  padding: 45px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  background-color: #FFFFFF;
}
.bort-modal-contacts {
  width: 280px;
  height: 45px;
  margin-bottom: 20px;
  resize: none;
  border: 1px solid #B9B9B9;
}
.bort-modal-message {
  width: 280px;
  max-height: 75px;
  resize: none;
  border: 1px solid #B9B9B9;
  margin-bottom: 40px;
}
.bort-modal-title {
  font-family: Russo One, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.bort-modal-text {
  font-family: Russo One, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  margin-bottom: 6px;
}
.bort-modal-button {
  width: 100%;
}

.bort__list__wrapper {
  margin-left: 60px;
}
.bort-listing-title {
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: Russo One, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
}
.bort-listing-item {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 28px;
  color: #8D8D8D;
  text-transform: none;
  cursor: pointer;
}
.bort-listing-item:hover, .bort-listing-item:focus {
  color: #B9B9B9;
}
.bort-listing-item:active {
  color: #D9760F;
}

.item__news__wrapper {
  margin-left: 160px;
}

.bort__news {
  width: 360px;
}
.bort-news-card {
  justify-content: space-between;
  max-width: 90%;
  border: none;
  min-height: 275px;
}
.bort-news-card__title {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 19px;
  margin-bottom: 20px;
}
.bort-news-card__date {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
  margin-bottom: 20px;
}
.bort-news-card__info {
  color: #8D8D8D;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 19px;
  margin-bottom: 20px;
}
.bort-news-card__link {
  text-decoration-line: underline;
  color: #018DA7;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 19px;
}
.bort-news-card__link:active, .bort-news-card__link:focus, .bort-news-card__link:hover {
  color: #018DA7;
}

.checkbox-wrapper {
  position: relative;
  margin-top: -150px;
  margin-left: 550px;
}

.select-wrapper {
  position: relative;
  margin-top: -150px;
  margin-left: 80px;
}

.bort-checkbox {
  position: absolute;
  appearance: none;
}
.bort-checkbox-label {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 13px;
  color: #8D8D8D;
}
.bort-checkbox-label:before {
  content: "";
  position: absolute;
  top: 3px;
  left: -18px;
  width: 16px;
  height: 16px;
  border: 1px solid #8D8D8D;
  border-radius: 3px;
  z-index: 1;
}
.bort-checkbox-label:after {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  background: url(/image/check.svg) no-repeat;
  background-position-x: center;
  background-position-y: center;
  border-radius: 3px;
  background-color: #D9760F;
  top: 3px;
  left: -18px;
  z-index: 2;
  opacity: 0;
}

.bort-checkbox:hover {
  left: -18px;
  top: 3px;
  width: 16px;
  height: 16px;
  border: 1px solid #D9760F;
  z-index: 3;
  border-radius: 3px;
}
.bort-checkbox:checked + label {
  color: #000000;
}
.bort-checkbox:checked + label:after {
  opacity: 1;
}

.bort-select {
  position: absolute;
  appearance: none;
}
.bort-select-label {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 13px;
  color: #8D8D8D;
}
.bort-select-label:before {
  content: "";
  position: absolute;
  top: 3px;
  left: -18px;
  width: 16px;
  height: 16px;
  border: 1px solid #8D8D8D;
  border-radius: 14px;
  z-index: 1;
}
.bort-select-label:after {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  background: url(/image/select.svg) no-repeat;
  background-position-x: center;
  background-position-y: center;
  border-radius: 14px;
  background-color: #FFFFFF;
  border: 1px solid #D9760F;
  top: 3px;
  left: -18px;
  z-index: 2;
  opacity: 0;
}

.bort-select:hover {
  left: -18px;
  top: 3px;
  width: 16px;
  height: 16px;
  border: 1px solid #D9760F;
  z-index: 3;
  border-radius: 14px;
}
.bort-select:checked + label {
  color: #000000;
}
.bort-select:checked + label:after {
  opacity: 1;
}

.bort-checkbox-disabled {
  position: absolute;
  appearance: none;
}
.bort-checkbox-disabled-label {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 13px;
  color: #B9B9B9;
}
.bort-checkbox-disabled-label:before {
  content: "";
  position: absolute;
  top: 3px;
  left: 57px;
  width: 16px;
  height: 16px;
  border: 1px solid #E3E3E3;
  border-radius: 3px;
  z-index: 1;
}
.bort-select-disabled {
  position: absolute;
  appearance: none;
}
.bort-select-disabled-label {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 13px;
  color: #B9B9B9;
}
.bort-select-disabled-label:before {
  content: "";
  position: absolute;
  top: 3px;
  left: 57px;
  width: 16px;
  height: 16px;
  border: 1px solid #E3E3E3;
  border-radius: 14px;
  z-index: 1;
}

.input__form {
  margin-top: 60px;
  display: flex;
  border: 1px solid lightgrey;
  padding: 20px;
  background-color: #72c9dd;
}
.input-wrapper {
  margin-left: 25px;
  display: flex;
  flex-direction: column;
}

.bort-input45, .bort-input45-disabled {
  height: 45px;
  padding: 15px;
  width: 206px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 15px;
  border: 1px solid #B9B9B9;
  background-color: #FFFFFF;
}
.bort-input45-disabled, .bort-input45-disabled-disabled {
  background-color: #E3E3E3;
}
.bort-input45:hover, .bort-input45-disabled:hover {
  border: 1px solid #8D8D8D;
  box-shadow: none;
  color: #000000;
}
.bort-input45:focus, .bort-input45-disabled:focus {
  border: 1px solid #000000;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
}
.bort-input50, .bort-input50-disabled {
  height: 50px;
  padding: 15px;
  width: 206px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 15px;
  border: 1px solid #B9B9B9;
  background-color: #FFFFFF;
}
.bort-input50-disabled, .bort-input50-disabled-disabled {
  background-color: #E3E3E3;
}
.bort-input50:hover, .bort-input50-disabled:hover {
  border: 1px solid #8D8D8D;
  box-shadow: none;
  color: #000000;
}
.bort-input50:focus, .bort-input50-disabled:focus {
  border: 1px solid #000000;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
}
.bort-input-title, .bort-input-title-disabled {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
}
.bort-input-title-disabled, .bort-input-title-disabled-disabled {
  color: #8D8D8D;
}

.bort__menu {
  margin-left: 110px;
}
.bort__submenu {
  margin-left: 110px;
}
.bort-menu-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 340px;
  background-color: #F5F5F5;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #8D8D8D;
  padding: 18px 25px;
  margin-bottom: 1px;
  background-image: url(../image/menu-arrow.svg);
  background-repeat: no-repeat;
  background-position: 95% center;
  cursor: pointer;
}
.bort-menu-item:hover, .bort-menu-item:focus {
  color: #000000;
  background-image: url(../image/menu-arrow-black.svg);
  background-color: #E3E3E3;
}
.bort-menu-item:active {
  color: #FFFFFF;
  background-image: url(../image/menu-arrow-white.svg);
  background-color: #D9760F;
}
.bort-submenu-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 330px;
  height: 40px;
  padding: 14px 18px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  color: #FFFFFF;
  background-color: #D9760F;
  margin-bottom: 5px;
}
.bort-submenu-arrows {
  width: 12px;
  height: 8px;
}
.bort-submenu-arrows-transform {
  transform: rotate(180deg);
}
.bort-submenu-icon {
  width: 8px;
  height: 12px;
}
.bort-submenu-list {
  display: none;
}
.bort-submenu-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 330px;
  height: 40px;
  padding: 14px 18px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  color: #000000;
  background-color: #F5F5F5;
  margin-bottom: 5px;
}
.bort-submenu-item:hover, .bort-submenu-item:focus {
  color: #8D8D8D;
}
.bort-submenu-item:active {
  background-color: #E3E3E3;
}

.bort-support-phone {
  font-family: Russo One, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 27px;
  color: #000000;
}
.bort-support-phone-code {
  color: #D9760F;
}

@media screen and (max-width: 740px) {
  .bort-modal-contacts {
    margin-bottom: 10px;
  }
  .bort-modal-title, .bort-modal-message {
    margin-bottom: 20px;
  }
}
.product-card-wrapper {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding-bottom: 90px;
}
.product-card-wrapper-gallery {
  position: relative;
  width: 55%;
}
.product-card-wrapper-info {
  width: 40%;
  padding: 2px;
}
.product-card__breadcrumb__list {
  color: #8D8D8D;
  margin-top: 25px;
  margin-bottom: 60px;
  width: 800px;
  overflow: hidden;
}
.product-card__breadcrumb__nav {
  margin-right: 0;
}
.product-card__breadcrumb__nav:after {
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  top: 2px;
  content: url(../image/card-breadcrumb.svg);
}
.product-card__breadcrumb__nav__last {
  color: #000000;
}
.product-card__breadcrumb__nav__last::after {
  visibility: hidden;
}
.product-card-gallery {
  position: absolute;
  top: 50%;
  left: -46%;
  transform: rotate(90deg);
  height: 60px;
  z-index: 3;
  overflow: hidden;
}
.product-card-gallery-item {
  transform: rotate(-90deg);
  width: 60px;
  height: 60px;
  opacity: 0.5;
}
.product-card-gallery-item__main {
  opacity: 1;
}
.product-card-gallery-view {
  width: 570px;
  height: 570px;
  margin-right: 0;
  margin-left: auto;
  background-image: url(../product-card-image/BAB-10,8X_1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.product-card-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.product-card-info__title {
  text-transform: uppercase;
  font-family: Russo One;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 36px;
  margin-bottom: 20px;
}
.product-card-info__code {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 13px;
  padding-bottom: 25px;
  border-bottom: 1px solid #E3E3E3;
  margin-bottom: 25px;
}
.product-card-info__description {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 30px;
}
.product-card-info__specifications {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 13px;
}
.product-card-info__specifications__item {
  position: relative;
  margin-bottom: 15px;
  padding-left: 15px;
}
.product-card-info__specifications__item:after {
  position: relative;
  display: block;
  content: "";
  width: 7px;
  height: 7px;
  background-color: #D9760F;
  border-radius: 50%;
  top: -10px;
  left: -15px;
}
.product-card-info__price {
  font-family: Russo One;
  font-style: normal;
  font-weight: normal;
  font-size: 44px;
  line-height: 34px;
  color: #D9760F;
  margin-bottom: 10px;
}
.product-card-info__recomend {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 13px;
  color: #8D8D8D;
  margin-bottom: 40px;
}
.product-card-info__buy__die {
  display: flex;
}
.product-card-info__buy__title {
  font-family: Russo One;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 36px;
  margin-bottom: 20px;
}
.product-card-info__buy__bort {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 245px;
  height: 110px;
  border: 1px solid #B9B9B9;
  margin-right: 15px;
  cursor: pointer;
}
.product-card-info__buy__bort__img {
  width: 150px;
  height: 60px;
}
.product-card-info__buy__bort__subtitle {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
}
.product-card-info__buy__extego {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 245px;
  height: 110px;
  border: 1px solid #B9B9B9;
  cursor: pointer;
}

.view {
  opacity: 1;
}

@media screen and (max-width: 1250px) {
  .product-card-gallery {
    top: 45%;
  }
}
@media screen and (max-width: 1200px) {
  .product-card-gallery-view {
    margin-left: 120px;
    width: 500px;
    height: 500px;
  }
}
@media screen and (max-width: 1100px) {
  .product-card-gallery {
    transform: none;
    top: 85%;
    left: 0;
  }
  .product-card-gallery-item {
    transform: none;
  }
  .product-card-gallery-view {
    margin-left: 0;
  }
  .product-card-info__buy__bort, .product-card-info__buy__extego {
    width: 160px;
    height: 70px;
  }
  .product-card-info__buy__bort__img, .product-card-info__buy__extego__img {
    width: 100px;
    height: 40px;
  }
  .product-card-info__buy__bort__subtitle, .product-card-info__buy__extego__subtitle {
    font-size: 8px;
    line-height: 13px;
  }
}
@media screen and (max-width: 970px) {
  .product-card-gallery-view {
    width: 400px;
    height: 400px;
  }
  .product-card-info__title {
    font-size: 15px;
    line-height: 22px;
  }
  .product-card-info__code, .product-card-info__recomend {
    font-size: 12px;
    line-height: 13px;
  }
  .product-card-info__specifications {
    font-size: 12px;
    line-height: 13px;
  }
  .product-card-info__specifications__item {
    margin-bottom: 10px;
  }
  .product-card-info__description {
    font-size: 12px;
    line-height: 16px;
  }
  .product-card-info__price {
    font-size: 32px;
    line-height: 32px;
  }
  .product-card-info__buy__title {
    font-size: 15px;
    line-height: 15px;
  }
}
@media screen and (max-width: 740px) {
  .product-card__breadcrumb__list {
    margin-bottom: 20px;
  }
  .product-card-wrapper {
    flex-direction: column-reverse;
    padding-bottom: 40px;
  }
  .product-card-wrapper-gallery {
    position: absolute;
    top: 10%;
    width: 100%;
  }
  .product-card-wrapper-info {
    width: 100%;
  }
  .product-card-gallery {
    top: 105%;
  }
  .product-card-gallery-view {
    height: 480px;
    width: 480px;
    margin: auto;
  }
  .product-card-info__title {
    margin-bottom: 15px;
  }
  .product-card-info__code {
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 50px;
    padding-bottom: 0;
    margin-bottom: 625px;
  }
  .product-card-info__description {
    margin-bottom: 20px;
  }
  .product-card-info__price {
    margin-top: 30px;
    margin-bottom: 5px;
  }
  .product-card-info__recomend {
    margin-bottom: 30px;
  }
  .product-card-info__buy__die {
    margin-top: 15px;
  }
}
@media screen and (max-width: 500px) {
  .product-card-wrapper-gallery {
    top: 13%;
  }
  .product-card-gallery-view {
    width: 310px;
    height: 310px;
  }
  .product-card-info__code {
    margin-bottom: 425px;
  }
}
.charter {
  background-image: url(../image/BG-charter.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 30px;
  padding-bottom: 40px;
  margin-top: 30px;
  color: #FFFFFF;
}
.charter-title {
  text-transform: uppercase;
  margin-top: 70px;
  margin-bottom: 20px;
  font-family: Russo One, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 30px;
}
.charter-message {
  margin-bottom: 0;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
}

ul.breadcrumb-list {
  display: flex;
  overflow: visible;
}
ul.breadcrumb-list__item {
  margin-right: 15px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 13px;
}
ul.breadcrumb-list__nav {
  list-style-type: none;
}
ul.breadcrumb-list__nav:after {
  margin-left: 15px;
  content: url(../image/icon_breadcrumb.svg);
}

@media screen and (max-width: 740px) {
  .charter {
    background-image: url(../image/BG-charter-mobile.jpg);
    padding-top: 20px;
  }
  .charter-title {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 24px;
  }
  .charter-message {
    font-size: 10px;
    line-height: 13px;
  }

  ul.breadcrumb {
    overflow: hidden;
  }
  ul.breadcrumb-list {
    width: 100%;
    max-width: 100%;
  }
  ul.breadcrumb-list__item {
    font-size: 12px;
    line-height: 13px;
  }
  ul.breadcrumb-list__nav:after {
    margin-left: 10px;
  }
}
.shredders-features {
  margin-bottom: 40px;
}
.shredders-features__wrapper {
  margin-bottom: 20px;
  display: flex;
  flex: 0 0 50%;
  flex-wrap: nowrap;
}

.shredders-lang-selector__list {
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: column;
  color: #000000;
  text-transform: uppercase;
  height: 50px;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden;
  cursor: pointer;
  font-family: Russo One, sans-serif;
  font-size: 13px;
  line-height: 16px;
  list-style-type: none !important;
}
.shredders-lang-selector__list li {
  border: 1px solid #E3E3E3;
  display: flex;
  align-items: center;
  order: 2;
  padding: 15px 20px 15px 15px !important;
  min-height: 50px;
  min-width: 340px;
  list-style-type: none !important;
}
.shredders-lang-selector__list li::before {
  content: url(../image/lang-selector-flag-rus.svg);
  margin-right: 14px;
  line-height: 0;
}
.shredders-lang-selector__list li:hover {
  cursor: pointer;
  background: #D9760F;
}
.shredders-lang-selector__list li.active {
  order: 1;
  pointer-events: none;
}
.shredders-lang-selector__list li.active::after {
  content: url(../image/overview-arrow-down.svg);
  margin-left: auto;
  line-height: 0;
}
.shredders-lang-selector__list.open {
  height: auto;
}
.shredders-lang-selector__list.open li::after {
  content: url(../image/overview-arrow-up.svg);
}
.shredders-lang-selector__list li:not(.active) {
  border-top: none;
}
.shredders-lang-selector__list li:not(.active)::after {
  content: "";
  margin-left: auto;
  line-height: 0;
}

.shredders .grid-container {
  padding: 0;
}
.shredders .breadcrumb {
  padding: 0 15px;
  overflow: hidden;
}
.shredders-lang-selector {
  display: none;
}
@media screen and (min-width: 1024px) {
  .shredders-lang-selector {
    display: block;
  }
}
.shredders-lang-selector__title {
  color: #8D8D8D;
  font-weight: 300;
  line-height: 13px;
  font-size: 13px;
}
.shredders-lang-selector__option::after {
  content: url(../image/overview-arrow-up.svg);
  line-height: 0;
}
.shredders__title {
  color: #000000;
  font-family: Russo One, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 30px;
}
.shredders__title::before {
  content: "";
  background-color: #E3E3E3;
  position: absolute;
  height: 1px;
  width: 100%;
  top: 32px;
}

.shredders-important__title {
  color: #000000;
  font-family: Russo One, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  position: relative;
  margin-bottom: 20px;
  padding-bottom: 10px;
}
.shredders-important__title:before {
  border: 2px solid #D9760F;
  width: 88px;
  position: absolute;
  top: 100%;
  left: 0;
  content: "";
}
.shredders-important__text {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 14px;
  color: #8D8D8D;
}

.shredders-section {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 160%;
  color: #8D8D8D;
  background: #F5F5F5;
  margin-bottom: 20px;
}
.shredders-section__info {
  padding: 20px 15px;
}
.shredders-section__info-title {
  font-size: 11px;
  line-height: 160%;
  color: #000000;
}
.shredders-section__info-list {
  margin-left: 23px;
  padding-left: 0 !important;
}

.product .grid-container {
  padding: 0;
}

.product {
  background-color: #F5F5F5;
  margin-bottom: 40px;
}
.product__title {
  font-family: Russo One, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  color: #8D8D8D;
  padding: 20px 15px 0 15px;
  margin-bottom: 15px;
}
.product__title_black {
  color: #000000;
}
.product__text {
  margin-bottom: 40px;
}
.product__text-list {
  padding: 0 15px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 160%;
  color: #8D8D8D;
}
.product__text-list__item {
  list-style-type: disc;
  margin-left: 23px;
}
.product-item {
  padding: 0 15px;
  margin-bottom: 40px;
}
@media screen and (min-width: 1024px) {
  .product-item {
    margin-bottom: 120px;
  }
  .product-item:last-of-type {
    margin-bottom: 58px;
  }
}
.product-item__title {
  font-family: Russo One, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  position: relative;
}
.product-item__divider {
  border: 1px solid #D9760F;
  height: 2px;
  width: 88px;
  margin-left: 15px;
  margin-bottom: 20px;
}
.product-item__text {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 150%;
  color: #8D8D8D;
  margin-bottom: 20px;
}
@media screen and (min-width: 1024px) {
  .product-item__text {
    margin-bottom: 50px;
    font-size: 15px;
    line-height: 24px;
  }
}
.product-item__nav {
  border-bottom: 5px solid #E3E3E3;
  display: none;
  margin-bottom: 2em;
  position: relative;
}
@media screen and (min-width: 1024px) {
  .product-item__nav {
    display: flex;
    gap: 60px;
    margin-bottom: 60px;
  }
}
.product-item__nav-title {
  text-decoration: none !important;
}
@media screen and (min-width: 1024px) {
  .product-item__nav-title {
    font-family: Russo One, sans-serif;
    font-size: 13px;
    line-height: 20px;
    text-transform: uppercase;
    color: #000000 !important;
    padding-bottom: 15px;
  }
  .product-item__nav-title.active::before {
    border-bottom: 5px solid #D9760F;
    width: 100px;
    position: absolute;
    top: 100%;
    content: "";
  }
}
.product-item__nav-list {
  margin: 0 !important;
  padding: 0 !important;
  list-style-type: none !important;
}
.product-item__nav-list-item {
  margin-bottom: 1px;
  list-style-type: none !important;
}
@media screen and (min-width: 1024px) {
  .product-item__nav-list-item:not(.active) {
    display: none;
  }
}
@media screen and (max-width: 1023px) {
  .product-item__nav-list-item:not(.active) .product-item__nav-list-item__content {
    display: none;
  }
}
.product-item__nav-list-item__title {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  font-family: Russo One, sans-serif;
  font-style: normal;
  font-weight: normal;
  background-color: #FFFFFF;
  font-size: 13px;
  line-height: 20px;
  margin: 0 -15px;
}
@media screen and (min-width: 1024px) {
  .product-item__nav-list-item__title {
    display: none !important;
  }
}
.product-item__nav-list-item__title::after {
  content: url(../image/overview-arrow-down.svg);
  line-height: 0;
}
.product-item__nav-list-item__title.active {
  margin-bottom: 20px;
}
.product-item__nav-list-item__title.active::after {
  content: url(../image/overview-arrow-up.svg);
  line-height: 0;
}
@media screen and (min-width: 1024px) {
  .product-item__nav-list-item__content {
    display: flex;
  }
}
.product-item__nav-list-item__content-img {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
@media screen and (min-width: 1024px) {
  .product-item__nav-list-item__content-img {
    margin-right: 100px;
  }
}
@media screen and (min-width: 1024px) {
  .product-item__nav-list-item__content-description {
    max-width: 700px;
  }
}
.product-item__nav-list-item__content-description__text {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 140%;
  color: #8D8D8D;
}
@media screen and (min-width: 1024px) {
  .product-item__nav-list-item__content-description__text {
    font-size: 15px;
    line-height: 22px;
  }
}
.product-item__nav-list-item__content-description__text_black {
  color: #000000;
  font-weight: 600;
}
@media screen and (min-width: 1024px) {
  .product-item__nav-list-item__content-description__text_black {
    font-size: 16px;
    line-height: 22px;
    font-weight: normal;
  }
}
@media screen and (min-width: 1024px) {
  .product-item__nav-list-item__content-description__text_black_bold {
    font-weight: 600;
  }
}
.product-item__nav-list-item__content-description__more-btn {
  cursor: pointer;
  text-align: center;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 15px;
  padding: 15px 0;
  display: block;
  color: #FFFFFF;
  background-color: #D9760F;
  margin-bottom: 20px;
  width: auto;
}
@media screen and (min-width: 1024px) {
  .product-item__nav-list-item__content-description__more-btn {
    display: inline-block;
    padding: 15px 60px;
    margin-top: 35px;
  }
}

.accessories {
  margin-bottom: 40px;
  position: relative;
}
.accessories .grid-container {
  padding: 0;
}
.accessories__slider-wrapper {
  position: relative;
  padding: 0 15px;
}
.accessories__slider-navigation {
  display: flex;
  justify-content: space-between;
  position: absolute;
  height: 1px;
  z-index: 4;
  top: 50%;
  left: -35px;
  right: -35px;
}
@media screen and (max-width: 1200px) {
  .accessories__slider-navigation {
    display: none;
  }
}
.accessories__slider-navigation button {
  display: block;
  width: 50px;
  height: 30px;
  margin-top: -15px;
  background: transparent 50% 50%/contain no-repeat;
}
.accessories__slider-navigation button.owl-prev {
  background-image: url("data:image/svg+xml,%3Csvg width='60' height='15' viewBox='0 0 22 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.134293 7.16859L7.00929 0.13734C7.18834 -0.04578 7.47838 -0.04578 7.65738 0.13734C7.83644 0.32046 7.83644 0.617091 7.65738 0.800168L1.56476 7.03126L21.5417 7.03126C21.795 7.03126 22 7.24093 22 7.50003C22 7.75913 21.795 7.96879 21.5417 7.96879L1.56476 7.96879L7.65738 14.1998C7.83644 14.383 7.83644 14.6796 7.65738 14.8627C7.56788 14.9542 7.45058 15 7.33331 15C7.21605 15 7.09879 14.9542 7.00924 14.8627L0.134249 7.83142C-0.0447578 7.64834 -0.0447578 7.35171 0.134293 7.16859Z' fill='black'/%3E%3C/svg%3E");
}
.accessories__slider-navigation button.owl-next {
  background-image: url("data:image/svg+xml,%3Csvg width='60' height='15' viewBox='0 0 22 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.8657 7.16859L14.9907 0.13734C14.8117 -0.04578 14.5216 -0.04578 14.3426 0.13734C14.1636 0.32046 14.1636 0.617091 14.3426 0.800168L20.4352 7.03126H0.458347C0.205004 7.03126 0 7.24093 0 7.50003C0 7.75913 0.205004 7.96879 0.458347 7.96879H20.4352L14.3426 14.1998C14.1636 14.383 14.1636 14.6796 14.3426 14.8627C14.4321 14.9542 14.5494 15 14.6667 15C14.7839 15 14.9012 14.9542 14.9908 14.8627L21.8658 7.83142C22.0448 7.64834 22.0448 7.35171 21.8657 7.16859Z' fill='black'/%3E%3C/svg%3E");
}
.accessories__slider-item {
  display: block;
  box-shadow: inset 0 0 0 1px #E3E3E3;
  padding: 30px;
  min-height: 350px;
  max-width: 240px;
  background-color: #FFFFFF;
  color: #000000 !important;
  text-decoration: none !important;
}
.accessories__slider-item__img {
  margin-bottom: 30px;
  max-width: 187px;
  max-height: 187px;
}
.accessories__slider-item__title {
  font-family: Russo One, sans-serif;
  font-size: 11px;
  line-height: 14px;
  margin-bottom: 30px;
}
.accessories__slider-item__buy-link {
  cursor: pointer;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 14px;
  color: #D9760F;
  text-decoration: underline;
  position: relative;
}
.accessories__slider-item__buy-link::after {
  content: "";
  position: absolute;
  background: url(../image/slider-arrow-buy.svg) no-repeat center;
  top: 4px;
  right: -15px;
  width: 12px;
  height: 8px;
}
.accessories__title {
  padding: 0 15px;
  font-family: Russo One, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  color: #8D8D8D;
}
.accessories__text {
  padding: 0 15px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 150%;
  color: #8D8D8D;
}

.accordion-title:hover {
  background-color: #018DA7;
}

@media screen and (min-width: 740px) {
  .shredders-section {
    display: flex;
    margin-bottom: 20px;
  }

  .shredders-section_two {
    flex-direction: row-reverse;
  }

  .shredders__title {
    font-size: 35px;
  }
  .shredders__title::before {
    display: none;
  }

  .shredders-important__title {
    font-size: 18px;
  }
  .shredders-important__title:before {
    border: 1px solid #D9760F;
    width: 88px;
    position: absolute;
    top: 100%;
    left: 0;
    content: "";
  }

  .shredders-important__text {
    font-size: 15px;
    line-height: 22px;
  }

  .shredders-section__info {
    max-width: 50%;
    flex-grow: 0;
    padding: 50px 58px 50px 50px;
  }
}
@media screen and (min-width: 740px) and (max-width: 1024px) {
  .shredders-section__info {
    padding: 20px 20px;
  }
}
@media screen and (min-width: 740px) {
  .shredders-section__img {
    display: flex;
    align-items: center;
  }
  .shredders-section__img img {
    height: auto;
    width: 100%;
  }
}
@media screen and (min-width: 740px) {
  .shredders-section__info-title {
    font-size: 16px;
    line-height: 160%;
  }
}
@media screen and (min-width: 740px) {
  .shredders-section__info-item {
    font-size: 15px;
    line-height: 24px;
  }
}
@media screen and (min-width: 740px) {
  .shredders-features {
    margin-bottom: 100px;
  }
}
@media screen and (min-width: 740px) {
  .product__title {
    font-size: 30px;
    line-height: 36px;
    padding: 56px 15px 0 15px;
  }
}
@media screen and (min-width: 740px) {
  .product__text {
    font-size: 15px;
    line-height: 24px;
  }
}
@media screen and (min-width: 740px) {
  .product__text-list__item:first-child {
    margin: 20px 0 0 23px;
  }
}
@media screen and (min-width: 740px) {
  .product__text-list__item:last-child {
    margin: 0 0 20px 23px;
  }
}
@media screen and (min-width: 740px) {
  .product-item__title {
    font-size: 18px;
    line-height: 18px;
  }
}
@media screen and (min-width: 740px) {
  .accessories {
    margin-bottom: 100px;
  }
  .accessories__title {
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 15px;
  }
  .accessories__text {
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 50px;
  }
  .accessories__slider-item {
    max-width: 325px;
  }
  .accessories__slider-item__img {
    margin-bottom: 50px;
    max-width: 249px;
    max-height: 249px;
  }
  .accessories__slider-item__title {
    font-size: 15px;
    line-height: 18px;
    margin-bottom: 35px;
  }
  .accessories__slider-item__buy-link {
    font-size: 13px;
    line-height: 18px;
  }
}
.news__card {
  gap: 20px;
}
.news__date {
  margin: 0;
}
.news__link {
  color: #018DA7 !important;
}
.news__title {
  position: relative;
  margin-top: 80px;
  margin-bottom: 50px;
  font-family: Russo One, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 30px;
  color: #000000;
}
.news__title:before {
  content: "";
  background-color: #D9760F;
  height: 5px;
  width: 90px;
  position: absolute;
  left: 0;
  top: 55px;
}
.news__title:after {
  display: none;
}
.news__card-title {
  font-family: Roboto, sans-serif;
  font-size: 15px;
  line-height: 19px;
  margin-bottom: 0;
}
.news__info {
  font-family: Roboto, sans-serif;
  font-size: 13px !important;
  line-height: 18px;
  color: #8D8D8D;
  margin-bottom: 0px !important;
  margin-top: 0px !important;
}

@media screen and (max-width: 1120px) {
  .news__card {
    height: 320px;
  }
  .news__card-title {
    font-size: 14px;
    line-height: 20px;
  }
}
@media screen and (max-width: 740px) {
  .news__title {
    font-size: 16px;
    line-height: 22px;
    margin-top: 40px;
    margin-bottom: 25px;
  }
  .news__title:before {
    top: 30px;
  }
  .news__card {
    height: 220px;
    min-height: 160px;
    padding-right: 20px;
  }
  .news__card-title {
    font-size: 12px;
    line-height: 16px;
    margin-top: 0;
  }
  .news__date {
    font-size: 10px;
    line-height: 12px;
  }
  .news__info {
    font-size: 11px;
    line-height: 15px;
  }
  .news__link {
    font-size: 12px;
    line-height: 12px;
  }
}
.banner {
  margin-top: 85px;
}
.banner-wrapper {
  display: flex;
  justify-content: space-between;
}
.banner-card {
  position: relative;
  padding-top: 55px;
  padding-left: 50px;
  padding-right: 200px;
  color: #FFFFFF;
  max-width: 48.5%;
  min-height: 300px;
  cursor: pointer;
}
.banner-card:before {
  content: "";
  background: linear-gradient(105.05deg, #000000 1.74%, rgba(0, 0, 0, 0.26) 60.59%);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
}
.banner-card_one {
  background: url(../image/banner-1.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.banner-card_two {
  background: url(../image/banner-2.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.banner-card p {
  color: inherit;
}
.banner__title {
  font-family: Russo One, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 29px;
  z-index: 3;
}
.banner__info {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  z-index: 3;
}
.banner__arrow {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 85px;
  height: 85px;
  border-bottom: 100px solid #D9760F;
  border-left: 100px solid transparent;
  z-index: 3;
  cursor: pointer;
}
.banner__arrow:before {
  content: url(../image/banner-arrow.svg);
  position: absolute;
  top: 60px;
  right: 25px;
}
.banner .gallery-cell-four {
  left: 80%;
}

@media screen and (max-width: 986px) {
  .banner-card {
    padding-right: 120px;
  }
  .banner__title {
    font-size: 25px;
    line-height: 22px;
  }
  .banner__info {
    font-size: 11px;
    line-height: 16px;
  }
}
@media screen and (max-width: 740px) {
  .banner {
    margin-top: 40px;
  }
  .banner-wrapper {
    flex-direction: column;
  }
  .banner-card {
    max-width: 100%;
    padding-left: 25px;
    padding-top: 25px;
    padding-bottom: 35px;
    min-height: 140px;
  }
  .banner__title {
    font-size: 15px;
    line-height: 18px;
  }
  .banner__info {
    font-size: 11px;
    line-height: 14px;
  }
  .banner__arrow {
    width: 60px;
    height: 60px;
    border-bottom: 60px solid #D9760F;
    border-left: 60px solid transparent;
  }
  .banner__arrow:before {
    content: url(../image/banner-mobile.svg);
    top: 30px;
    right: 15px;
  }
}
.faq .grid-container {
  padding: 0;
}
.faq__title {
  padding: 0 15px;
  font-family: Russo One, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  color: #000000;
  margin-bottom: 20px;
  list-style-type: none !important;
}
.faq__info {
  padding: 0 15px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 150%;
  color: #8D8D8D;
  margin-bottom: 20px;
}
.faq .bort-menu-item {
  padding: 5px 55px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  text-align: center;
}
.faq .dropshipping-menu-item {
  min-height: 40px;
}
.faq .bort-menu-item.dropshipping-menu-item-active {
  font-weight: 500;
}
.faq .dropshipping-info-black {
  margin-bottom: 10px;
}
.faq .dropshipping-info-black,
.faq .dropshipping-info-text {
  margin-top: 0;
}
.faq .dropshipping-info-block {
  margin-bottom: 0;
}

.faq-tabs__nav-side-menu {
  width: 100%;
  margin: 0 !important;
  padding: 0 !important;
  list-style-type: none !important;
  border: none;
}
.faq-tabs__nav-side-menu__item {
  width: 100%;
  list-style-type: none !important;
}
@media screen and (min-width: 1024px) {
  .faq-tabs__nav-side-menu__item > a:hover {
    background: #018DA7;
    color: #FFFFFF !important;
  }
}
.faq-tabs__nav-side-menu__item.is-active > a::before, .faq-tabs__nav-side-menu__item.is-active > a::after {
  transform: rotate(180deg);
}
@media screen and (min-width: 1024px) {
  .faq-tabs__nav-side-menu__item.is-active > a {
    background-color: #018DA7;
    color: #FFFFFF !important;
  }
  .faq-tabs__nav-side-menu__item.is-active > a::after {
    transform: rotate(270deg);
    color: #FFFFFF !important;
    background: url(../image/submenu-arrows.svg) no-repeat center;
  }
}
.faq-tabs__nav-side-menu__item > .faq-tabs__link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  padding: 18px 25px;
  margin-bottom: 1px;
  color: #FFFFFF !important;
  background-color: #018DA7;
  text-decoration: none !important;
}
.faq-tabs__nav-side-menu__item > .faq-tabs__link::before {
  position: static;
  content: "" !important;
  background: url(../image/submenu-arrows.svg) no-repeat center;
  width: 12px;
  height: 8px;
}
.faq-tabs__nav-side-menu__item > .faq-tabs__link::after {
  content: "";
  background: url(../image/submenu-arrows.svg) no-repeat center;
  width: 12px;
  height: 8px;
}
@media screen and (min-width: 1024px) {
  .faq-tabs__nav-side-menu__item > .faq-tabs__link::after {
    width: 20px;
    height: 20px;
    background: url(../image/menu-arrow.svg) no-repeat center;
  }
}
@media screen and (min-width: 1024px) {
  .faq-tabs__nav-side-menu__item > .faq-tabs__link {
    background-color: #F5F5F5;
    color: #8D8D8D !important;
  }
  .faq-tabs__nav-side-menu__item > .faq-tabs__link::before {
    display: none;
  }
}
.faq-tabs__content {
  border: none !important;
  padding-top: 30px;
}
@media screen and (min-width: 1024px) {
  .faq-tabs__content {
    max-width: 800px;
    margin-left: auto;
    padding: 0 15px;
  }
}
.faq-tabs__content-panel {
  border: none;
  padding: 15px 0;
}
.faq-tabs__content-panel.tabs-panel {
  padding: 0;
}
.faq-tabs__more-btn {
  display: none;
}
@media screen and (min-width: 1024px) {
  .faq-tabs__more-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 25px;
    color: #FFFFFF;
    background-color: #018DA7;
    font-size: 14px;
  }
  .faq-tabs__more-btn > a {
    color: inherit !important;
    text-decoration: none !important;
  }
  .faq-tabs__more-btn::after {
    content: "";
    background-image: url(../image/submenu-arrows.svg);
    width: 12px;
    height: 8px;
  }
  .faq-tabs__more-btn.active::after {
    transform: rotate(180deg);
  }
}

@media screen and (min-width: 740px) {
  .faq .bort-menu-item {
    padding: 16px 55px 16px 27px;
    text-align: left;
    font-size: 14px;
    line-height: 24px;
  }
  .faq__title {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 30px;
  }
  .faq__info {
    font-size: 16px;
    line-height: 22px;
    max-width: 940px;
    margin-bottom: 50px;
  }
  .faq__content {
    padding: 0 15px;
  }
  .faq .dropshipping-info-text {
    margin-bottom: 30px;
  }
  .faq .dropshipping-info-black,
.faq .dropshipping-info-text {
    font-size: 15px;
    line-height: 22px;
  }
}